* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

/* basic colors for different parts */

body {
    border: 1px dotted red;
    background-color: #1f2937;
    color: #f9faf8;
}

.main-2-container {
    background-color: #f9faf8;
}

.main-3-container {
    background-color: #e5e7eb;
}

.main-4-container {
    background-color: #3882f6;
}

.btn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-inverted {
    border: 1px solid #f9faf8;
}

/* main-1 header and navigation */

.main-1-container {
    height: 500px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.list-container {
    display: flex;
    list-style: none;
}

.nav-list {
    padding-right: 30px;
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.sign-up {
    width: 40%;
    margin-top: 150px;
}

.filler-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filler-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.filler-description {
    font-size: 18px;
    color: #e5e7eb;
    opacity: .8;
}

.image-holder {
    width: 400px;
    height: 200px;
    background-color: #6d747d;
    margin-top: 150px;
    text-align: center;
}

.image-message {
    margin-top: 90px;
    font-weight: 400;
    font-size: 18px;
    color: #e5e7eb;
}

/* random information section */

.main-2-container {
    height: 500px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 40px;
}

.random-placehold {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
    margin: 30px;
}

.image-container {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.random-text {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
}